<div class="root obc-component-size-regular">
<obc-top-bar
  appTitle="COS"
  pageName="Dashboard"
  showDimmingButton
  showClock
  [date] = "currentDateTime"
  (dimming-button-clicked)="windowService.toggleBrilliance()">
  <obi-placeholder slot="app-icon">fdf</obi-placeholder>
  <obc-command-button slot="command-button"></obc-command-button>
  <obc-topbar-message-item slot="alerts">Development Phase</obc-topbar-message-item>
</obc-top-bar>
<main >
  <div class="content" style="display: flex; flex-direction: column;">
    @if(windowService.showBackdrop()){
      <div class="backdrop" (click)="windowService.hideAll()"></div>
    }
    @if(windowService.showBrilliance){
      <obc-brilliance-menu class="brilliance"
      [palette]="bridgeStoreService.palette"
      (palette-changed)="onPaletteChange($event)">
      </obc-brilliance-menu>
    }
    
    @if (!showAppDemo){
      <div class="dropdown-row">
        <select>
          <option value = "" disabled selected>Select Country</option>
          @for (country of countries; track country) {
            <option [value]="country.value">{{ country.label }}</option>
          }
        </select>
        <select>
          <option value = "" disabled selected>Select Location</option>
            @for (location of locations; track location) {
              <option [value]="location.value">{{ location.label }}</option>
           }
        </select>
        <select>
          <option value = "" disabled selected>Select Weather</option>
          @for (weather of weathers; track weather) {
            <option [value]="weather.value">{{ weather.label }}</option>
          }
        </select>
        <obc-button class="regular"
          variant="raised"
          (click)="onStart()">
          Start
        </obc-button>
      </div>
    }
    @else{
      <app-demo (backClicked)="onBack()"
      [information]="information"></app-demo>
    }
  </div>
</main>
</div>
