main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.root {
  min-height: 100vh;
  width: 100%;
  background-color: var(--container-backdrop-color);
  display: flex;
  flex-direction: column;
}

.content {
  position: relative;
  flex: 1;
  isolation: isolate;
  min-height: 100%;
}

.content .backdrop {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.5);
}

.content .brilliance {
  position: fixed;
  top: 52px;
  right: 48px;
  z-index: 9999;
}

@media screen and (max-width: 768px) {
  .content .brilliance {
    right: 16px;
    top: 48px;
  }
}

@media screen and (max-width: 500px) {
  .content .brilliance {
    right: 4px;
    top: 44px;
  }
}
